.addemplist-container{
    background-color: rgb(59, 59, 59);
    padding: 2% ;
    text-align: center;
    width: 50%;
    margin: 10%;
}
input{
    padding: 1%;
    margin: 1%;
    width: 95%;
}
button{
    padding: 1%;
    margin: 0.5%;
    font-weight:bold;
}