.App {
  text-align: center;
}

body{
  background-image: url(./images/bg-image.jpg);
  /* background-size: cover; */
  color: beige;
  background-position: center;
  height: 100%;
}
a {
  font-weight: bold;
  font-style: normal;
    text-decoration: none;
}
a:hover{
  color: aquamarine;

}
.navbar{
  display: flex;
  flex-direction: row;
}